*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a127b;
    width: 100vh;
}

.navBar {
    /* background-image: url(../images/sky.webp); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */

    background-image: linear-gradient(to right, #ff7f50, #8a2be2); /* Background color applied after background image properties */
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px auto;
    justify-content: space-between;
    /* border-bottom: 5px solid #9cebff; */
    margin-top: -5px;
    position: fixed; /* Stick the navigation bar to the top */
    top: 0; /* Position it at the top of the viewport */
    z-index: 1000; /* Set a high z-index value to keep it on top */
}

.navBar .logo button .h1 {
    position:relative;
    top: 55px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btns {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
}

.container {
    height: 700px;
    padding-bottom: 50px;
}

.nav .toggleButton {
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    margin-right: 15px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    left: 580px;
    top: 5px;
    margin-right: 0;
    margin-left: 0;
}

nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

nav ul{
    position: relative;
    right: -15px;
    display: flex;
    list-style: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

nav ul li{
    padding: 0 30px;
}

nav .btns{
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    border: none;
    background: transparent;
}

nav .btns:hover {
    color: #3ba4e5 !important;
}

.center{
 width: 100%;
 margin: 50px 70px;
 position: relative;
 top: 75px;
}

.center .map {
    position: relative;
    align-items: center;
    left: 155px;
    bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}



/* RESPONSIVE DESIGN */
@media(max-width: 1213px){
    .logo {
        display: flex;
        align-items: center;
        position: relative;
        left: 400px;
        top: 5px;
        margin-right: 0;
        margin-left: 0;
    }

    .center {
        position: relative;
        right: -30px;
    }

    .center .map {
        margin-left: auto;
        margin-right: auto;
        height: 280px;
        width: 500px;
    }

    .navBar .links,
    .navBar .getStarted{
      display: none;
    }
  
    .navBar{
      backdrop-filter: blur(0);
    }
  
    .navBar .toggleButton{
      display: block;
    }
  
    .dropDownMenu {
      display: block;
    }
  }
  
  @media(max-width: 576px){
    .dropDownMenu {
      left: 2rem;
      width: unset;
    } 
  }
  @media(max-width: 576px){
    .services>.container{
      display: none; 
    }
  }
  @media(max-width: 1117px){
    .search>.container {
      align-items: center;
      height: 55vh;
      width: 50%;
    }
}