.wrapper {
    display: flex !important;
    flex-direction: column;
    position: relative;
    top: 75px;
    z-index: 2;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background-image: linear-gradient(to bottom, #ff7f50, #8a2be2);
    /* Background color applied after background image properties */
    padding: 20px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: #171717;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
}

.wrapper .sidebar ul {
    display: flex !important;
    flex-direction: column;
    background-image: #25aba4; /* This property is incorrect, remove it */
    padding: 0; /* Add this to remove default padding */
    margin: 0; /* Add this to remove default margin */
}

.wrapper .sidebar ul li {
    padding: 5px;
    padding-left: 25px;
    border-bottom: 1px solid #bdb8d7;
    list-style-type: none; /* Remove default list style */
}

.wrapper .sidebar ul li a {
    display: block; /* Make the anchor a block element */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color from parent */
    padding: 10px; /* Add padding to ensure clickable area */
}

.wrapper .sidebar ul li a i {
    padding-right: 12px;
}

.wrapper .sidebar ul li:hover {
    background-color: #594f8d;
}

.wrapper .sidebar ul li a:hover {
    color: #fff;
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 40px; /* Change to match height */
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}
